<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>De</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/css/recuperar-senha.css}" rel="stylesheet" />
<link th:href="@{/css/botao.css}" rel="stylesheet" />
</head>
<body>
	<section class="content distancia-formulario-topo">
		<div class="row">
			<div class="col-md-7 distancia-formulario-margem-esquerda">				
				<h4>Alteração de Senha</h4>
				<form id="userForm" th:action="@{/savePassword}" action="#"
					method="post">
					<div class="box-body">
						<div th:if="${errorMessage}" th:text="${errorMessage}"
							class="alert alert-danger">Mensagem</div>
						<div class="form-group">
							<label for="password"><span class="campo-obrigatorio">*</span>
								Senha</label> <input name="password" id="password" type="password"
								title="password" class="form-control" />
						</div>
						<div class="form-group">
							<label for="passwordConfirmation"><span
								class="campo-obrigatorio">*</span> Confirmar Senha</label> <input
								id="passwordConfirmation" type="password"
								name="passwordConfirmation" class="form-control" />
						</div>
						<div align="right" class="form-group">
							<a onClick="document.getElementById('userForm').submit();"
								class="btn de-button de-button-success"> <i
								class="fa  fa-refresh"></i> ALTERAR
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
</body>
</html>